<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Grupy</ion-title>
    <ion-buttons end>
        <button (click)="openGroupForm(false)"  ion-button>
          <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-searchbar [(ngModel)]="myInput"></ion-searchbar>
  <ion-segment [(ngModel)]="type">
    <ion-segment-button value="my">
      Twoje grupy
    </ion-segment-button>
    <ion-segment-button value="public">
      Grupy publiczne
    </ion-segment-button>
  </ion-segment>
    <ion-list>
      <ion-card *ngFor="let group of groups | async | exponential:(af.auth | async)?.uid:type:myInput">
        <ion-item>
          <ion-icon item-left name="star"></ion-icon>
          <h2>{{ group.name }}</h2>
          <p>{{ group.date_created | amTimeAgo }}</p>
          <button (click)="openGroupForm(group.$key)" ion-button item-right clear small>
              <ion-icon name="share-alt"></ion-icon>
            </button>
              <button ion-button item-right clear small>
              Własciciel: {{ ((af.auth | async)?.uid == group.creator) ? 'Ty' : '' }}
            </button>
        </ion-item>

        <ion-card-content>
          <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
        </ion-card-content>
        <ion-row>
          <ion-col *ngIf="(type == 'my' && (af.auth | async)?.uid != group.creator)">
          <button (click)="disconnectFromGroup(group.$key)" ion-button icon-left clear small>
              <ion-icon name="log-out"></ion-icon>
              <div>Zrezygnuj</div>
            </button>
          </ion-col>
          <ion-col *ngIf="(type == 'public')">
          <button (click)="joinToGroup(group.$key)" ion-button icon-left clear small>
              <ion-icon name="log-out"></ion-icon>
              <div>Dołącz</div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list> 
</ion-content>
